
/* ====================== width 1024 - 1439 ===================== */
@media (max-width: 1439px) {
    .container {
        max-width: 944px;
        padding: 0 40px;
    }

    /* ===== first-page ===== */
    .first-page__menu {
        padding-right: 0;
    }

    .first-page__carousel {
        height: calc(100vh - 100px - 160px);
        min-height: 600px;
    }

    .front-carousel__title {
        font-size: 84px;
        line-height: 84px;
        padding: 115px 0 30px;
    }

    .front-carousel__description {
        font-size: 18px;
        line-height: 20px;
        padding: 0 0 15px;
    }

    .front-carousel__prev, .front-carousel__next {
        width: 56px;
        height: 56px;
    }

    .first-page__footer-container {
        padding: 0;
        height: 160px;
    }

    .first-page__description h4 {
        font-size: 18px;
        line-height: 18px;
        padding: 0 0 20px;
    }

    .first-page__description p {
        font-size: 14px;
        line-height: 16px;
    }

    /* ===== services ===== */

    .services__container {
        justify-content: start;
        flex-wrap: wrap;
    }

    .services__description {
        width: 100%;
    }

    .services__description h2 {
        text-align: center;
        padding: 50px 0 65px;
    }

    .services__description h3 {
        padding: 0 0 35px;
        width: 66%;
    }

    .services__description p {
        padding: 40px 0 30px 0;
        width: 66%;
    }

    .services__items {
        width: 100%;
        margin: 0;
    }

    /* ===== portfolio ===== */
    .portfolio {
        height: 1420px;
        background: linear-gradient(180deg, var(--main-blue) 0%, rgba(255, 255, 255, 0) 100%);
        margin-bottom: -390px;
    }

    .portfolio__projects {
        flex-wrap: wrap;
    }

    .project {
        width: 317px;
        padding: 0 14px;
    }

    .project__image {
        height: 282px;
    }

    .project__name {
        padding: 20px 0;
    }

    /* ===== team ===== */

    .team {
        padding: 80px 0 90px 0;
    }

    .team__container {
        padding: 0;
    }

    .team__image {
        width: 395px;
        height: 380px;
    }

    .team__description {
        width: 580px;
        padding-left: 60px;
    }

    .team__title {
        padding: 10px 0 25px 0;
    }

    .team__watch-video-button {
        left: 455px;
    }

    /* ===== news ===== */
    .news__content {
        max-height: 1075px;
        width: 900px;
    }

    /* ===== testimonial ===== */

    .testimonial-carousel__quotation {
        font-size: 32px;
        line-height: 37px;
        width: 780px;
    }

    .testimonial-carousel__author {
        font-size: 20px;
        line-height: 28px;
        width: 780px;
    }

    /* ===== footer ===== */

    .footer h3 {
        font-size: 36px;
        line-height: 32px;
        padding: 95px 0 85px;
    }

    .footer__social {
        padding: 0 0 60px;
    }

    .footer__widgets {
        padding: 0 0 110px;
    }

    .footer__widgets > div {
        font-size: 16px;
        line-height: 20px;
    }

    .footer__widgets-title {
        font-size: 18px;
        line-height: 21px;
    }

    .footer__up a {
        text-align: right;
    }

    .footer__up img {
        padding: 0 10px;
    }

    .footer__up a span {
        padding-left: 0;
    }

    /* ===== front-carousel ===== */

    .owl-theme .owl-controls .owl-page span {
        background: var(--main-blue);
    }

    .owl-theme .owl-controls .owl-page.active span,
    .owl-theme .owl-controls.clickable .owl-page:hover span {
        border: 1px solid #476E4D;
        background: rgba(255, 255, 255, 0);
    }
}


/* ====================== width 768 - 1023 ===================== */
@media (max-width: 1023px) {
    .container {
        max-width: 680px;
        padding: 0 44px;
    }

    /* ===== first-page ===== */

    .first-page__carousel {
        height: calc(100vh - 100px - 187px);
        min-height: 465px;
    }

    .front-carousel__content {
        width: 85%;
    }

    .front-carousel__title {
        font-size: 60px;
        line-height: 60px;
        width: 360px;
        margin: 0 auto;
        letter-spacing: normal;
        padding: 85px 0 30px;
    }

    .front-carousel__description {
        padding: 0 0 28px;
    }

    .first-page__footer-container {
        height: 187px;
    }

    .first-page__description {
        width: 60%;
    }

    .first-page__description h4 {
        font-size: 24px;
        line-height: 24px;
        padding: 25px 0 20px;
    }

    .first-page__description p {
        font-size: 16px;
        line-height: 18px;
    }

    /* ===== services ===== */

    .services__description h2 {
        padding: 50px 0 30px;
    }

    .services__description h3 {
        padding: 0 0 30px;
        width: 100%;
    }

    .services__description p {
        padding: 30px 0 50px 0;
        width: 100%;
    }

    .services__items {
        height: auto;
    }

    .services__item {
        width: 50%;
        height: 320px;
    }

    .services__item:hover .plate__image {
        padding-top: 35px;
    }

    .plate {
        width: 300px;
        height: 280px;
    }

    .plate__description {
        font-family: 'Dosis', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        padding: 25px 20px 0;
    }

    .plate__detail {
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0 );
    }

    /* ===== portfolio ===== */

    .portfolio {
        height: 1030px;
        margin-bottom: 0;
    }

    .portfolio__projects {
        margin: 0 -10px;
    }

    .project__name {
        font-size: 20px;
        line-height: 23px;
        padding: 15px 0;
    }

    /* ===== team ===== */

    .team {
        padding: 40px 0 150px 0;
    }

    .team__image {
        width: 240px;
        height: 227px;
    }

    .team__description {
        width: 580px;
        padding-left: 30px;
    }

    .team__title {
        font-size: 36px;
        line-height: 38px;
        padding: 0 0 20px 0;
    }

    .team__line {
        margin-bottom: 10px;
    }

    .team__description p {
        font-size: 18px;
        line-height: 18px;
    }

    .team__watch-video-button {
        left: 50%;
        transform: translate(-50%);
        bottom: -100px;
    }

    /* ===== news ===== */

    .news__title {
        font-size: 36px;
        line-height: 38px;
        padding: 60px 0 25px;
    }

    .news__content {
        max-height: 1700px;
        width: 600px;
        padding: 40px 0;
    }

    /* ===== testimonial ===== */

    .testimonial {
        height: 450px;
    }

    .testimonial__quotes {
        padding: 50px 0 15px;
    }
    .testimonial-carousel__quotation {
        font-size: 32px;
        line-height: 34px;
        width: 100%;
    }

    .testimonial-carousel__author {
        font-size: 20px;
        line-height: 23px;
        width: 100%;
        margin: 40px auto 0;
    }

    /* ===== footer ===== */

    .footer h3 {
        width: 100%;
        font-size: 36px;
        line-height: 32px;
        padding: 55px 0 45px;
    }

    .footer__social {
        padding: 0 0 75px;
    }

    .footer__widgets {
        flex-wrap: wrap;
        padding: 0 0 10px;
    }

    .footer__widgets > div {
        width: 50%;
        padding-bottom: 40px;
    }

    /* ===== testimonial-carousel ===== */
    .testimonial-carousel .owl-controls{
        margin-top: 40px;
    }
}


/* ====================== width 640 - 767 ===================== */
@media (max-width: 767px) {
    .container {
        max-width: 570px;
        padding: 0 35px;
    }

    /* ===== first-page ===== */

    .first-page__logo {
        padding-left: 15px;
    }

    .first-page__carousel {
        height: calc(100vh - 100px - 254px);
        min-height: 390px;
    }

    .front-carousel__title {
        font-size: 60px;
        line-height: 60px;
        width: 360px;
        margin: 0 auto;
        letter-spacing: normal;
        padding: 60px 0 8px;
    }

    .front-carousel__description {
        display: none;
    }

    .front-carousel__line {
        display: block;
        background-color: var(--dark-grey);
        margin: 0 auto 25px;
        width: 65px;
    }

    .first-page__footer-container {
        height: 254px;
        justify-content: center;
        align-items: start;
        flex-wrap: wrap;
    }

    .first-page__description {
        width: 100%;
    }

    .first-page__description h4 {
        text-align: center;
        padding: 45px 0 15px;
    }

    .first-page__description p {
        text-align: center;
        width: 100%;
    }

    /* ===== services ===== */

    .services__description h2 {
        padding: 20px 0;
    }

    .services__description h3 {
        padding: 0 0 30px;
        text-align: center;
    }

    .services__line {
        margin: 0 auto;
    }

    .services__description p {
        text-align: center;
    }

    .services__item {
        height: 310px;
    }

    .plate {
        width: 290px;
        height: 280px;
    }

    /* ===== portfolio ===== */

    .portfolio {
        height: 2300px;
        padding-bottom: 80px;
    }

    .portfolio__title {
        padding: 35px 0 0 0;
    }

    .portfolio__line {
        margin: 25px auto 40px;
    }

    .project {
        width: 518px;
    }

    .project__image {
        height: 460px;
    }

    .project__info img, .project__search img {
        width: 55px;
        height: 55px;
    }

    .project__info {
        margin-right: 10px;
    }

    /* ===== team ===== */

    .team {
        padding: 45px 0 150px 0
    }

    .team__container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .team__image {
        width: 90%;
        height: auto;
    }

    .team__image img {
        width: 100%;
    }

    .team__description {
        width: 100%;
        padding: 55px 0;
    }

    .team__title {
        text-align: center;
    }

    .team__line {
        margin: 0 auto 40px;
    }

    .team__description p {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
    }

    /* ===== news ===== */

    .news__title {
        font-size: 48px;
        line-height: 38px;
        padding: 50px 0 25px;
    }

    .news__content {
        width: 100%;
        margin: 0 -15px;
    }

    /* ===== footer ===== */

    .footer h3 {
        font-size: 24px;
        line-height: 26px;
        padding: 40px 20px;
    }

    .footer__social {
        padding: 0 0 40px;
    }

    .footer__widgets {
        justify-content: space-between;
    }

    .footer__widgets > div {
        width: 40%;
    }
}

/* ====================== width 320 - 639 ===================== */

@media (max-width: 639px) {
    .container {
        max-width: 284px;
        padding: 0 18px;
    }

    /* ===== first-page ===== */
    .first-page__header {
        margin: 0;
        background-color: var(--main-blue);
        height: 80px;
    }

    .first-page__header-container {
        padding: 7px 0;
    }

    .first-page__logo {
        padding-left: 5px;
    }

    .first-page__carousel {
        height: calc(100vh - 80px - 300px);
        min-height: 200px;
    }

    .front-carousel__title {
        font-size: 28px;
        line-height: 28px;
        width: 75%;
        padding: 45px 0 18px;
    }

    .front-carousel__line {
        display: block;
        margin: 0 auto;
        width: 65px;
    }

    .front-carousel__detail-button-block {
        display: none;
    }

    .first-page__footer-container {
        height: 300px;
    }

    .first-page__description h4 {
        text-align: center;
        padding: 40px 0 10px;
    }

    .first-page__description p {
        text-align: center;
        width: 100%;
    }

    /* ===== services ===== */

    .services__description h2 {
        padding: 25px 0 75px;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 2px;
    }

    .services__description h3 {
        padding: 0;
        font-size: 20px;
        line-height: 24px;
    }

    .services__line {
        position: relative;
        top: -100px;
    }

    .services__description p {
        font-size: 15px;
        line-height: 17px;
        padding-top: 20px;
    }


    .services__item {
        width: 100%;
    }

    .plate {
        width: 250px;
        height: 275px;
    }

    .plate__image {
        padding: 70px 0 25px;
    }

    .plate__title {
        padding: 0 5px 10px;
    }

    .plate__description {
        font-size: 16px;
        line-height: 18px;
        padding: 0 5px;
    }

    /* ===== portfolio ===== */

    .portfolio {
        height: 1360px;
        padding-bottom: 0;
    }

    .portfolio__title {
        padding: 25px 0 0 0;
        font-size: 24px;
        line-height: 28px;
    }

    .portfolio__line {
        margin: 20px auto 40px;
        width: 45px;
    }

    .project {
        width: 100%;
    }

    .project__image {
        height: 250px;
    }

    .project__name {
        font-size: 16px;
        line-height: 19px;
        padding: 5px 0;
    }

    .project__info img, .project__search img {
        width: 30px;
        height: 30px;
    }

    .project__info {
        margin-right: 0;
    }


    /* ===== team ===== */

    .team {
        padding: 45px 0 200px 0;
    }

    .team__title {
        font-size: 24px;
        line-height: 38px;
    }

    .team__image {
        width: 100%;
        height: auto;
    }

    .team__description {
        padding: 15px 0 0;
    }

    .team__line {
        width: 40px;
        margin: 0 auto 25px;
    }

    .team__watch-video-button {
        bottom:  -160px;
    }

    /* ===== news ===== */

    .news__title {
        font-size: 24px;
        line-height: 38px;
        padding: 35px 0 20px;
    }

    .news__line {
        width: 50px;
    }

    .news__content {
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        max-height: 2740px;
    }

    .news__item {
        padding: 12px 0;
    }

    .news__item-title {
        left: 0;
    }

    /* ===== testimonial ===== */

    .testimonial {
        height: 470px;
    }

    .testimonial__quotes {
        padding: 50px 0 70px;
    }
    .testimonial-carousel__quotation {
        font-size: 24px;
        line-height: 26px;
    }

    .testimonial-carousel__author {
        margin: 20px auto 0;
    }

    /* ===== footer ===== */

    .footer h3 {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        padding: 40px 0;
    }

    .footer__social {
        padding: 0 0 40px;
        height: 160px;
        flex-wrap: wrap;
    }

    .footer__social > a {
        width: 100%;
        height: 25%;
        border: none;
    }

    .footer__widgets {
        justify-content: center;
        padding-bottom: 20px;
    }

    .footer__widgets > div {
        width: 100%;
        text-align: center;
    }

    .footer__up {
        height: 142px;
    }

    .footer__up a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__up a img {
        width: 25px;
        height: auto;
    }

    /* ===== front-carousel ===== */
    .owl-theme .owl-controls {
        margin-top: 35px;
    }
}
