/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/

.owl-theme .owl-controls{
	margin-top: 45px;
	text-align: center;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 9px;
	height: 9px;
	margin: 5px 5px;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background: rgba(255,255,255,1);
	border: 1px solid rgba(255,255,255,0);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	border: 1px solid white;
	background: rgba(255,255,255,0);
}




.testimonial-carousel .owl-controls{
	margin-top: 75px;
	text-align: center;
}

/* Styling Pagination*/

.testimonial-carousel .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.testimonial-carousel .owl-controls .owl-page span{
	display: block;
	width: 9px;
	height: 9px;
	margin: 5px 5px;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	background: #2B4074;
	border: 1px solid rgba(255,255,255,0);
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

}

.testimonial-carousel .owl-controls .owl-page.active span,
.testimonial-carousel .owl-controls.clickable .owl-page:hover span{
	border: 1px solid #476E4D;
	background: rgba(255,255,255,0);
}
